<script data-main="scripts/destination" src="bower_components/requirejs/require.js"></script>


<div class="container">

    <h1>Destination</h1>

    From: <span data-bind="text: locFrom"></span>, To: <span data-bind="text: locTo"></span>

</div>
