<script data-main="scripts/destination" src="bower_components/requirejs/require.js"></script>


<div class="container">

    <h1>Home Page</h1>

    <form action="destination">
        <label for="loc_to">From: </label> <input name="loc_from"/><br/>
        <label for="loc_to">To: </label> <input name="loc_to"/><br/>

        <input type="submit" data-bind="click: "/>

    </form>

</div>
