<script data-main="scripts/destination" src="bower_components/requirejs/require.js"></script>


<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>Home Page</h1>
        </div>
    </div>

    <div class="input-group col-xs-offset-1 col-xs-10" style="text-align:center">

        <form action="destination">
            <div class="row">
                <input class="form-control" placeholder="From" name="loc_from"/>
            </div>
            <div class="row" style="padding:5px">
            </div>
            <div class="row">
                <input class="form-control" placeholder="To" name="loc_to"/><br/>
            </div>
            <input type="submit" data-bind="click: "/>

        </form>
    </div>
</div>
