<script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>


<div class="container">

    <div class="row">
    </div>

    <form action="disambiguation">
        <div class="input-group col-xs-offset-2 col-xs-8">

            <div class="row" style="text-align: left; margin-bottom: 5px;">
                <b>Plan a route:</b>
            </div>

            <div class="row">

                <div style="position: relative;">

                    <input class="form-control inputBoxOverrides" placeholder="From" id="loc_from" name="loc_from" aria-label="..." />

                    <a href="#" onClick="setFromHome()">
                    <img style="position: absolute; right: 0px; width: 30px; z-index: 1000; opacity: 0.9; top:0px;"
                         src="images/home_basic_blue.png" />
                    </a>

                    <a href="#" onClick="setFromWork()">
                        <img style="position: absolute; right: 35px; width: 30px; z-index: 1000; opacity: 0.9; top:0px;"
                             src="images/briefcase_basic_blue.png" />
                    </a>

                </div>

            </div>

            <div class="row" style="padding:5px">
            </div>

            <div class="row">

                <div style="position: relative;">

                    <input class="form-control inputBoxOverrides" placeholder="To" id="loc_to" name="loc_to" /><br/>

                    <a href="#" onClick="setToHome()">
                        <img style="position: absolute; right: 0px; width: 30px; z-index: 1000; opacity: 0.9; top:0px;"
                             src="images/home_basic_blue.png" />
                    </a>

                    <a href="#" onClick="setToWork()">
                        <img style="position: absolute; right: 35px; width: 30px; z-index: 1000; opacity: 0.9; top:0px;"
                             src="images/briefcase_basic_blue.png" />
                    </a>

                </div>
            </div>

            <div class="row" style="padding:5px">
            </div>

            <input type="submit" style="width: 250px;" class="btn btn-me btn-info"/>

            <script>
                setFromHome = function() {
                    $("#loc_from").val("Maple Avenue");
                }
                setFromWork = function() {
                    $("#loc_from").val("Baker Street");
                }
                setToHome = function() {
                    $("#loc_to").val("Maple Avenue");
                }
                setToWork = function() {
                    $("#loc_to").val("Baker Street");
                }
            </script>

        </div>
    </form>

    <br />


        <div class="input-group col-xs-offset-2 col-xs-8">

            <div class="row" style="text-align: left; margin-bottom: 5px;">
                <b>My To Do List:</b>
            </div>

            <div class="row" style="padding:5px">
            </div>

            <div class="row">
                <form action="addItem" method="get">
                    <input class="inputBoxOverrides col-xs-5" placeholder="Task" name="todo" aria-label="..." />
                    <input class="inputBoxOverrides col-xs-5" placeholder="Location" name="location" aria-label="..." />
                    <input type="submit" class="btn btn-sm btn-warning col-xs-2"/>
                </form>
            </div>

            <div class="row" style="padding:5px">
            </div>

            <div class="row">

                <div class="" data-bind="if: !waitingForData()">
                    <div class="wishlist">
                            <!-- ko foreach: items -->
                            <div class="wishlist-item">
                                <div class="wishlist-item-image">
                                    <!-- ko if: isMastercard -->
                                        <img src="images/mastercard_logo_1.gif">
                                    <!-- /ko -->
                                    <!--ko if: !isMastercard -->
                                        <div style="margin-left: 35px;" class="tflstar">&nbsp;</div>
                                    <!-- /ko -->
                                </div>
                                <div class="wishlist-item-text">
                                    <span data-bind="text: itemDesc"></span>
                                    <i data-bind="click: click, visible: !isMastercard" class="glyphicon glyphicon-remove remove-button"></i>
                                </div>

                                <div style="float: none; clear:both;"> </div>
                            </div>
                            <!-- /ko -->
                    </div>
                </div>
            </div>

        </div>




</div>
