<script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>


<div class="container">

    <div class="row">
    </div>

    <form action="disambiguation">
        <div class="input-group col-xs-offset-2 col-xs-8">

            <div class="row" style="text-align: left; margin-bottom: 5px;">
                <b>Plan a route:</b>
            </div>

            <div class="row">
                    <input class="form-control inputBoxOverrides" placeholder="From" name="loc_from" aria-label="..." />
            </div>

            <div class="row" style="padding:5px">
            </div>

            <div class="row">
                <input class="form-control inputBoxOverrides" placeholder="To" name="loc_to" /><br/>
            </div>

            <div class="row" style="padding:5px">
            </div>

            <input type="submit" style="width: 250px;" class="btn btn-me btn-info"/>

        </div>
    </form>

    <br />


        <div class="input-group col-xs-offset-2 col-xs-8">

            <div class="row" style="text-align: left; margin-bottom: 5px;">
                <b>My To Do List:</b>
            </div>

            <div class="row" style="padding:5px">
            </div>

            <div class="row">
                <form action="todo/add" method="post">
                    <input class="inputBoxOverrides col-xs-10" placeholder="Add a new item" name="todo" aria-label="..." />
                    <input type="submit" class="btn btn-sm btn-warning col-xs-2"/>
                </form>
            </div>

            <div class="row" style="padding:5px">
            </div>

            <div class="row">

                <div data-bind="if: !waitingForData()">
                    <div class="wishlist">
                        <ul>
                            <!-- ko foreach: items -->
                            <li><span data-bind="text: itemDesc"></span></li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>




</div>
