<script data-main="scripts/journey" src="bower_components/requirejs/require.js"></script>


<div class="container">

    <h1>Journey</h1>


    <div class="spinner" data-bind="if: waitingForData">
        <img src="images/spinner.gif" />
    </div>

    <div class="disambiguiation-content" data-bind="if: !waitingForData()"><br/>

        <div data-bind="with: journey">
            From: <span data-bind="text: from"></span><br/>
            To: <span data-bind="text: to"></span>
        </div>

        <div data-bind="with: journeys()[0]">

            <div class="col-xs-12 journey-container" data-bind="css: {expanded: visible}">
                <div class="left-container">
                    <h3 class="journey-title">Direct</h3>
                    <div class="more-details" data-bind="click: click">More Details</div>
                </div>
                <div class="journey-duration col-xs-3"><span class="minutes" data-bind="text: duration"></span><br/> minutes</div>
            </div>
            <div class="col-xs-12 journey-steps" style="display: table" data-bind="visible: visible">
                <!-- ko foreach: steps-->
                <div class="col-xs-12" style="display: table-row; padding-bottom: 3px;">

                    <div class="col-xs-4" style="display: table-cell"><span data-bind="text: transport"></span> (<span data-bind="text: mode"></span>)</div>
                    <div class="col-xs-8    " style="display:table-cell">
                        <span data-bind="text: destination"></span><br/>
                        <!--ko if: offers.length > 1 -->
                        <b><span style="font-color: red;">You have <span data-bind="text: offers.length"></span> offers</span></b>
                        <!-- /ko -->
                        <!--ko if: offers.length === 1 -->
                        <b><span style="font-color: red;" data-bind="text: offers[0]"></span></b>
                        <!-- /ko -->
                    </div><br/>
                </div>

                <!-- /ko -->
            </div>

        </div>

    </div>
</div>
