body {

    .journey-steps {

        margin: 0;
        border: 1px white solid;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    .journey-container {
        margin: 0;

        border: 1px white solid;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .journey-duration {
            float: right;

            border-radius: 2px;
            background-color: #366097;

            display: table-cell;
            margin: 3px;

            .minutes {
                font-size: 200%;
                font-weight: bolder;
            }
        }

        .left-container {
            float: left;
            display: table-cell;

            .more-details {
                font-size: 80%;
                color: $gray1;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: white;
                }
            }
        }



    }

}
