body {

    .journey-container {

        margin: 4px 0px 4px 0px;

        border: 1px white solid;

        .journey-duration {
            float: right;

            background-color: #366097;

            margin: 3px;

            .minutes {
                font-size: 200%;
                font-weight: bolder;
            }
        }

        .left-container {
            float: left;
            display: table-cell;

            .more-details {
                font-size: 80%;
                color: $gray1;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: white;
                }
            }
        }



    }

    .journey-steps {

        margin: 0px;
        background-color: rgba(255,255,255,0.3);

    }

}
