body {

    .journey-container {

        margin: 8px 0px 0px 0px;
        background-color: rgba(255,255,255,0.25);
        padding-right: 0px;

        .left-container {

            float: left;
            text-align: left;

            .journey-title {
                font-size: 24px;
            }

            .more-details {
                clear: both;
                float: left;
            }
        }

        .journey-duration {
            float: right;
            height: 100%;
            min-height: 100%;

            background-color: #366097;

            .minutes {
                font-size: 200%;
                font-weight: bolder;
            }
        }

    }

    .journey-steps {
        padding-top: 5px;
        background-color: rgba(255,255,255,0.35);
        border-radius: 0px 0px 20px 20px;
    }



    .journey-step-destination {
        text-align: left;
    }

    .journey-step-transport {
        text-align: right;
    }



    .tflwalk {
        height: 32px;
        width: 32px;
        background: url("../images/tfl_vsprite.png") -32px -256px;
        float: left;
    }

    .tflbus {
        height: 32px;
        width: 32px;
        background: url("../images/tfl_vsprite.png") -32px -320px;
        float: left;
    }

    .tfltube {
        height: 32px;
        width: 32px;
        background: url("../images/tfl_vsprite.png") -32px -128px;
        float: left;
    }


    .tflstar {
        height: 32px;
        width: 32px;
        background: url("../images/tfl_vsprite.png") 0 -1184px;
        float: left;
    }

    .methodicons {
        padding: 0px 0px 0px 0px;
    }

}
