<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PaysForYourJourney</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(assets) styles/screen.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/screen.css">
        <!-- endbuild -->
    </head>
    <body>
        <header>

            <a href="../">
                <img src="images/enRoute.png" style="width: 300px; margin: 10px 0px 15px 0px;" />
            </a>

        </header>

        {{{ body }}}

        <footer>
        </footer>

        <!--Background circles-->
        <div id="circleContainer"
             style="display: none; width: 1px;
             height: 400px; postition: absolute; top: 0px; left: 0px;
             overflow: hidden;">
            <div style="float: left;" id="circle1"></div>
            <div style="float: left;" id="circle2"></div>
        </div>




        <!-- build:js(assets) scripts/scripts.js -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>
